<!-- Sidebar -->
<div class="side-bar-bg text-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom border-light">
    Admin Panel
  </div>
  <div class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action"
      routerLink="product"
      routerLinkActive="active"
      >Product</a
    >
    <a
      routerLink="category"
      routerLinkActive="active"
      class="list-group-item list-group-item-action"
      >Category</a
    >
    <a
      class="list-group-item list-group-item-action"
      routerLink="retailer"
      routerLinkActive="active"
      >Retailer</a
    >
    <a href="#" class="list-group-item list-group-item-action">User</a>
    <a href="#" class="list-group-item list-group-item-action">Order</a>
  </div>
</div>
<!-- /#sidebar-wrapper -->
